{% include 'header.html' %}

<div class="container pages" page="request_information">
    <div class="title">
        <h1>ตรวจสอบคุณสมบัติ</h1>
    </div>

    <div class="confirmation_form">

        <!-- เฉพาะผู้บริจาคสุภาพสตรี -->
        <div class="confirmation_item">
            <div class="confirmation_item_top">
                <h1>เฉพาะผู้บริจาคสุภาพสตรี</h1>
            </div>
            <div class="confirmation_item_bottom">
                <div class="confirmation_item_bottom_item">
                    <div class="confirmation_item_bottom_key">อยู่ในระหว่างตั้งครรภ์</div>
                    <div class="confirmation_item_bottom_value">ใช่</div>
                </div>

                <div class="confirmation_item_bottom_item">
                    <div class="confirmation_item_bottom_key">อยู่ในระหว่างตั้งครรภ์</div>
                    <div class="confirmation_item_bottom_value">ใช่</div>
                </div>

                <div class="confirmation_item_bottom_item">
                    <div class="confirmation_item_bottom_key">อยู่ในระหว่างตั้งครรภ์</div>
                    <div class="confirmation_item_bottom_value">ใช่</div>
                </div>

                <div class="confirmation_item_bottom_item">
                    <div class="confirmation_item_bottom_key">อยู่ในระหว่างตั้งครรภ์</div>
                    <div class="confirmation_item_bottom_value">ใช่</div>
                </div>

                <div class="confirmation_item_bottom_item">
                    <div class="confirmation_item_bottom_key">อยู่ในระหว่างตั้งครรภ์</div>
                    <div class="confirmation_item_bottom_value">ใช่</div>
                </div>
            </div>
        </div>
        <!-- คำถามสำหรับผู้บริจาคสุภาพบุรุษและสุภาพสตรี -->
        <div class="confirmation_item">
            <div class="confirmation_item_top">
                <h1>คำถามสำหรับผู้บริจาคสุภาพบุรุษและสุภาพสตรี</h1>
            </div>
            <div class="confirmation_item_bottom">
                <div class="confirmation_item_bottom_item">
                    <div class="confirmation_item_bottom_key">อยู่ในระหว่างตั้งครรภ์</div>
                    <div class="confirmation_item_bottom_value">ใช่</div>
                </div>

                <div class="confirmation_item_bottom_item">
                    <div class="confirmation_item_bottom_key">อยู่ในระหว่างตั้งครรภ์</div>
                    <div class="confirmation_item_bottom_value">ใช่</div>
                </div>


                <div class="confirmation_item_bottom_item">
                    <div class="confirmation_item_bottom_key">อยู่ในระหว่างตั้งครรภ์</div>
                    <div class="confirmation_item_bottom_value">ใช่</div>
                </div>
            </div>
        </div>

        <!-- หมวดที่ 2.1 -->
        <div class="confirmation_item">
            <div class="confirmation_item_top">
                <h1>หมวดที่ 2.1</h1>
            </div>
            <div class="confirmation_item_bottom">
                <div class="confirmation_item_bottom_item">
                    <div class="confirmation_item_bottom_key">อยู่ในระหว่างตั้งครรภ์</div>
                    <div class="confirmation_item_bottom_value">ใช่</div>
                </div>

                <div class="confirmation_item_bottom_item">
                    <div class="confirmation_item_bottom_key">อยู่ในระหว่างตั้งครรภ์</div>
                    <div class="confirmation_item_bottom_value">ใช่</div>
                </div>


                <div class="confirmation_item_bottom_item">
                    <div class="confirmation_item_bottom_key">อยู่ในระหว่างตั้งครรภ์</div>
                    <div class="confirmation_item_bottom_value">ใช่</div>
                </div>
            </div>
        </div>

        <!-- หมวดที่ 2.2 -->
        <div class="confirmation_item">
            <div class="confirmation_item_top">
                <h1>หมวดที่ 2.2</h1>
            </div>
            <div class="confirmation_item_bottom">
                <div class="confirmation_item_bottom_item">
                    <div class="confirmation_item_bottom_key">อยู่ในระหว่างตั้งครรภ์</div>
                    <div class="confirmation_item_bottom_value">ใช่</div>
                </div>

                <div class="confirmation_item_bottom_item">
                    <div class="confirmation_item_bottom_key">อยู่ในระหว่างตั้งครรภ์</div>
                    <div class="confirmation_item_bottom_value">ใช่</div>
                </div>


                <div class="confirmation_item_bottom_item">
                    <div class="confirmation_item_bottom_key">อยู่ในระหว่างตั้งครรภ์</div>
                    <div class="confirmation_item_bottom_value">ใช่</div>
                </div>
            </div>
        </div>


        <!-- หมวดที่ 3.1 -->
        <div class="confirmation_item">
            <div class="confirmation_item_top">
                <h1>หมวดที่ 3.1</h1>
            </div>
            <div class="confirmation_item_bottom">
                <div class="confirmation_item_bottom_item">
                    <div class="confirmation_item_bottom_key">อยู่ในระหว่างตั้งครรภ์</div>
                    <div class="confirmation_item_bottom_value">ใช่</div>
                </div>

                <div class="confirmation_item_bottom_item">
                    <div class="confirmation_item_bottom_key">อยู่ในระหว่างตั้งครรภ์</div>
                    <div class="confirmation_item_bottom_value">ใช่</div>
                </div>


                <div class="confirmation_item_bottom_item">
                    <div class="confirmation_item_bottom_key">อยู่ในระหว่างตั้งครรภ์</div>
                    <div class="confirmation_item_bottom_value">ใช่</div>
                </div>
            </div>
        </div>


        <!-- หมวดที่ 3.2 -->
        <div class="confirmation_item">
            <div class="confirmation_item_top">
                <h1>หมวดที่ 3.2</h1>
            </div>
            <div class="confirmation_item_bottom">
                <div class="confirmation_item_bottom_item">
                    <div class="confirmation_item_bottom_key">อยู่ในระหว่างตั้งครรภ์</div>
                    <div class="confirmation_item_bottom_value">ใช่</div>
                </div>

                <div class="confirmation_item_bottom_item">
                    <div class="confirmation_item_bottom_key">อยู่ในระหว่างตั้งครรภ์</div>
                    <div class="confirmation_item_bottom_value">ใช่</div>
                </div>


                <div class="confirmation_item_bottom_item">
                    <div class="confirmation_item_bottom_key">อยู่ในระหว่างตั้งครรภ์</div>
                    <div class="confirmation_item_bottom_value">ใช่</div>
                </div>
            </div>
        </div>

        <div class="line"></div>

        <div class="confirmation_button buttonSignup">
            <div class="noneActiveButton">ยกเลิก</div>
            <div class="activeButton popupButton">ยืนยัน</div>
        </div>


    </div>
</div>

<div class="overlay">
</div>

<div style="display:flex; justify-content: center;">
    <div class="addProfilePopup">
        <form action="{{ url_for('recordBloodDonation', id_number=id_number) }}" method="post">
            <div class="subtitle" style="margin-bottom:15px;">
                <h3>สาเหตุที่อนุญาตให้บริจาคเป็นกรณีพิเศษ</h3>
            </div>
            <div class="inputSignup">
                <div>
                    <input required step="1" type="text" placeholder="ex. อนุญาติเพราะขนไข้แข็งแรงดี" name="checker">
                </div>
            </div>
            <div class="buttonSignup" style="text-align:center;">
                <button class="activeButton saveForm closeOverlay" style="margin:auto;" type="submit">ยืนยัน</button>
            </div>
        </form>
    </div>
</div>

</body>

<script src="../static/js/script_confirmation.js"></script>

</html>