{% include 'header.html' %}

<div class="container pages" page="request_information">
    <div class="title">
        <h1>ตรวจสอบคุณสมบัติ</h1>
    </div>

    <div class="confirmation_form">

        <!-- เฉพาะผู้บริจาคสุภาพสตรี -->
        <div class="confirmation_item">
            <div class="confirmation_item_top">
                <h1>เฉพาะผู้บริจาคสุภาพสตรี</h1>
            </div>
            <div class="confirmation_item_bottom">
                <div class="confirmation_item_bottom_item">
                    <div class="confirmation_item_bottom_key">อยู่ในระหว่างตั้งครรภ์</div>
                    <div class="confirmation_item_bottom_value">{{ form_for_show['question1'] }}</div>
                </div>

                <div class="confirmation_item_bottom_item">
                    <div class="confirmation_item_bottom_key">คลอดบุตร ในอีกระยะเวลา (เดือน)</div>
                    <div class="confirmation_item_bottom_value">{{ form_for_show['question2'] }}</div>
                </div>

                <div class="confirmation_item_bottom_item">
                    <div class="confirmation_item_bottom_key">อยู่ในระยะให้นมบุตร</div>
                    <div class="confirmation_item_bottom_value">{{ form_for_show['question3'] }}</div>
                </div>

                <div class="confirmation_item_bottom_item">
                    <div class="confirmation_item_bottom_key">คลอดบุตร หรือแท้งบุตร ภายใน 6 เดือนที่ผ่านมา</div>
                    <div class="confirmation_item_bottom_value">{{ form_for_show['question4'] }}</div>
                </div>

            </div>
        </div>
        <!-- คำถามสำหรับผู้บริจาคสุภาพบุรุษและสุภาพสตรี -->
        <div class="confirmation_item">
            <div class="confirmation_item_top">
                <h1>คำถามสำหรับผู้บริจาคสุภาพบุรุษและสุภาพสตรี</h1>
            </div>
            <div class="confirmation_item_bottom">
                <div class="confirmation_item_bottom_item">
                    <div class="confirmation_item_bottom_key">ท่านมีเพศสัมพันธ์กับผู้อื่นที่ไม่ใช่คู่ของท่าน</div>
                    <div class="confirmation_item_bottom_value">{{ form_for_show['question5'] }}</div>
                </div>

                <div class="confirmation_item_bottom_item">
                    <div class="confirmation_item_bottom_key">ท่านมีเพศสัมพันธ์กับเพศเดียวกัน (เฉพาะเพศชาย)</div>
                    <div class="confirmation_item_bottom_value">{{ form_for_show['question6'] }}</div>
                </div>


                <div class="confirmation_item_bottom_item">
                    <div class="confirmation_item_bottom_key">คู่ของท่านมีเพศสัมพันธ์กับผู้อื่น</div>
                    <div class="confirmation_item_bottom_value">{{ form_for_show['question7'] }}</div>
                </div>
                <div class="confirmation_item_bottom_item">
                    <div class="confirmation_item_bottom_key">คู่ของท่านมีเพศสัมพันธ์กับเพศเดียวกัน (เฉพาะเพศหญิงที่ไม่มีคู่เป็นชาย)</div>
                    <div class="confirmation_item_bottom_value">{{ form_for_show['question8'] }}</div>
                </div>
            </div>
        </div>

        <!-- หมวดที่ 2.1 -->
        <div class="confirmation_item">
            <div class="confirmation_item_top">
                <h1>หมวดที่ 2.1</h1>
            </div>
            <div class="confirmation_item_bottom">
                <div class="confirmation_item_bottom_item">
                    <div class="confirmation_item_bottom_key">ท้องเสีย ท้องร่วง ภายใน 7 วันที่ผ่านมา</div>
                    <div class="confirmation_item_bottom_value">{{ form_for_show['question9'] }}</div>
                </div>

                <div class="confirmation_item_bottom_item">
                    <div class="confirmation_item_bottom_key">น้ำหนักลดอย่างรวดเร็วในระยะ 3 เดือนที่ผ่านมาโดยไม่ทราบสาเหตุ</div>
                    <div class="confirmation_item_bottom_value">{{ form_for_show['question10'] }}</div>
                </div>


                <div class="confirmation_item_bottom_item">
                    <div class="confirmation_item_bottom_key">ถอนฟัน อุดฟัน ขูดหินปูนและรักษารากฟันภายใน 3 วันที่ผ่านมา</div>
                    <div class="confirmation_item_bottom_value">{{ form_for_show['question11'] }}</div>
                </div>
                <div class="confirmation_item_bottom_item">
                    <div class="confirmation_item_bottom_key">ได้รับการผ่าตัดเล็ก ภายใน 7 วัน ที่ผ่านมา</div>
                    <div class="confirmation_item_bottom_value">{{ form_for_show['question12'] }}</div>
                </div>

                <div class="confirmation_item_bottom_item">
                    <div class="confirmation_item_bottom_key">ได้รับการผ่าตัดใหญ่ ภายใน 6 เดือน ที่ผ่านมา</div>
                    <div class="confirmation_item_bottom_value">{{ form_for_show['question13'] }}</div>
                </div>
            </div>
        </div>

        <!-- หมวดที่ 2.2 -->
        <div class="confirmation_item">
            <div class="confirmation_item_top">
                <h1>หมวดที่ 2.2</h1>
            </div>
            <div class="confirmation_item_bottom">
                <div class="confirmation_item_bottom_item">
                    <div class="confirmation_item_bottom_key">อยู่ในระหว่างตั้งครรภ์</div>
                    <div class="confirmation_item_bottom_value">ใช่</div>
                </div>

                <div class="confirmation_item_bottom_item">
                    <div class="confirmation_item_bottom_key">อยู่ในระหว่างตั้งครรภ์</div>
                    <div class="confirmation_item_bottom_value">ใช่</div>
                </div>

                <div class="confirmation_item_bottom_item">
                    <div class="confirmation_item_bottom_key">อยู่ในระหว่างตั้งครรภ์</div>
                    <div class="confirmation_item_bottom_value">ใช่</div>
                </div>

                <div class="confirmation_item_bottom_item">
                    <div class="confirmation_item_bottom_key">อยู่ในระหว่างตั้งครรภ์</div>
                    <div class="confirmation_item_bottom_value">ใช่</div>
                </div>

                <div class="confirmation_item_bottom_item">
                    <div class="confirmation_item_bottom_key">อยู่ในระหว่างตั้งครรภ์</div>
                    <div class="confirmation_item_bottom_value">ใช่</div>
                </div>

                <div class="confirmation_item_bottom_item">
                    <div class="confirmation_item_bottom_key">อยู่ในระหว่างตั้งครรภ์</div>
                    <div class="confirmation_item_bottom_value">ใช่</div>
                </div>


                <div class="confirmation_item_bottom_item">
                    <div class="confirmation_item_bottom_key">อยู่ในระหว่างตั้งครรภ์</div>
                    <div class="confirmation_item_bottom_value">ใช่</div>
                </div>
            </div>
        </div>


        <!-- หมวดที่ 3.1 -->
        <div class="confirmation_item">
            <div class="confirmation_item_top">
                <h1>หมวดที่ 3.1</h1>
            </div>
            <div class="confirmation_item_bottom">
                <div class="confirmation_item_bottom_item">
                    <div class="confirmation_item_bottom_key">อยู่ในระหว่างตั้งครรภ์</div>
                    <div class="confirmation_item_bottom_value">ใช่</div>
                </div>

                <div class="confirmation_item_bottom_item">
                    <div class="confirmation_item_bottom_key">อยู่ในระหว่างตั้งครรภ์</div>
                    <div class="confirmation_item_bottom_value">ใช่</div>
                </div>

                <div class="confirmation_item_bottom_item">
                    <div class="confirmation_item_bottom_key">อยู่ในระหว่างตั้งครรภ์</div>
                    <div class="confirmation_item_bottom_value">ใช่</div>
                </div>

                <div class="confirmation_item_bottom_item">
                    <div class="confirmation_item_bottom_key">อยู่ในระหว่างตั้งครรภ์</div>
                    <div class="confirmation_item_bottom_value">ใช่</div>
                </div>


                <div class="confirmation_item_bottom_item">
                    <div class="confirmation_item_bottom_key">อยู่ในระหว่างตั้งครรภ์</div>
                    <div class="confirmation_item_bottom_value">ใช่</div>
                </div>
            </div>
        </div>


        <!-- หมวดที่ 3.2 -->
        <div class="confirmation_item">
            <div class="confirmation_item_top">
                <h1>หมวดที่ 3.2</h1>
            </div>
            <div class="confirmation_item_bottom">
                <div class="confirmation_item_bottom_item">
                    <div class="confirmation_item_bottom_key">อยู่ในระหว่างตั้งครรภ์</div>
                    <div class="confirmation_item_bottom_value">ใช่</div>
                </div>

                <div class="confirmation_item_bottom_item">
                    <div class="confirmation_item_bottom_key">อยู่ในระหว่างตั้งครรภ์</div>
                    <div class="confirmation_item_bottom_value">ใช่</div>
                </div>

                <div class="confirmation_item_bottom_item">
                    <div class="confirmation_item_bottom_key">อยู่ในระหว่างตั้งครรภ์</div>
                    <div class="confirmation_item_bottom_value">ใช่</div>
                </div>

                <div class="confirmation_item_bottom_item">
                    <div class="confirmation_item_bottom_key">อยู่ในระหว่างตั้งครรภ์</div>
                    <div class="confirmation_item_bottom_value">ใช่</div>
                </div>

                <div class="confirmation_item_bottom_item">
                    <div class="confirmation_item_bottom_key">อยู่ในระหว่างตั้งครรภ์</div>
                    <div class="confirmation_item_bottom_value">ใช่</div>
                </div>

                <div class="confirmation_item_bottom_item">
                    <div class="confirmation_item_bottom_key">อยู่ในระหว่างตั้งครรภ์</div>
                    <div class="confirmation_item_bottom_value">ใช่</div>
                </div>


                <div class="confirmation_item_bottom_item">
                    <div class="confirmation_item_bottom_key">อยู่ในระหว่างตั้งครรภ์</div>
                    <div class="confirmation_item_bottom_value">ใช่</div>
                </div>
            </div>
        </div>

        <div class="line"></div>
        <form action="{{ url_for('approvement', id_number=donor_id, request_form=raw_form ,_external=True) }}" method="post">
            <div class="confirmation_button buttonSignup">
                <button class="noneActiveButton" type="submit" name="approvement" value="reject">ยกเลิก</button>
                <button class="activeButton popupButton">ยืนยัน</button>
            </div>
        </form>


    </div>
</div>

<div class="overlay">
</div>

<div style="display:flex; justify-content: center;">
    <div class="addProfilePopup">
        <form action="{{ url_for('approvement', id_number=donor_id, request_form=raw_form, _external=True) }}" method="post">
            <div class="subtitle" style="margin-bottom:15px;">
                <h3>สาเหตุที่อนุญาตให้บริจาคเป็นกรณีพิเศษ</h3>
            </div>
            <div class="inputSignup">
                <div>
                    <input step="1" type="text" placeholder="ex. อนุญาติเพราะขนไข้แข็งแรงดี" name="special_case_message">
                </div>
            </div>
            <div class="buttonSignup" style="text-align:center;">
                <button class="activeButton saveForm closeOverlay" style="margin:auto;" type="submit" name="approvement" value="accept">ยืนยัน</button>
            </div>
        </form>
    </div>
</div>

</body>

<script src="../static/js/script_confirmation.js"></script>

</html>