<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
</head>

<body>

    <div id="header">
        <div class="wrapper">
            <div class="container">
                <!-- Content here -->
                <div class="row">
                    <div class="col-4">
                        <a href="{{ url_for('index') }}">
                            <div class="logo">
                                <div class="logoImg">
                                    <img src="../static/images/logo-icon.svg" alt="">
                                </div>
                                <div class="logoText">
                                    BLOOD DONOR
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-6">
                        <div class="menu">
                            <div>
                                <a href="{{ url_for('index') }}">หน้าแรก</a>
                            </div>
                            <div>
                                <a href="{{ url_for('signup') }}">ลงทะเบียนผู้บริจาคโลหิต</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="dropdownWrapper">
                            <div class="dropdownMenu dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    เข้าสู่ระบบโดย <b>{{ session['username'] }}</b>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    <button class="dropdown-item" type="button"><a href="{{ url_for('logout') }}">Logout</a></button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>

        </div>
    </div>


    <div id="homepage">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="searchBox">
                        <div class="searchText">
                            ค้นหาผู้ใช้
                        </div>
                        <div class="searchInput">
                            <form action="{{ url_for('searchForDonor') }}" method="post">
                                <input placeholder="ex. เลขประจำตัว 13 หลัก" name="required_id_number" maxlength="13"/>
                                <button type="submit"><img src="../static/images/search-icon.svg" /></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="userList">
                    <table class="table">
                        <thead>
                            <tr>
                                <!-- <th scope="col">ID</th> -->
                                <th scope="col">ชื่อ - สกุล</th>
                                <th scope="col">กรุ๊ปเลือด</th>
                                <th scope="col">เลขบัตรประชาชน</th>
                                <th scope="col">เบอร์โทร</th>
                                <th scope="col">E-Mail</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if result_search is not none %}
                                <tr>
                                    <!-- <th scope="row">XXXX ID</th> -->
                                    <td>{{ result_search['firstname'][0] }} {{ result_search['lastname'][0] }}</td>
                                    <td>{{ result_search['bloodtype'][0] }}</td>
                                    <td>{{ id_number }}</td>
                                    <td>{{ result_search['tel'][0] }}</td>
                                    <td>{{ result_search['email'][0] }}</td>
                                    <td><a href="{{ url_for('donorProfilePage', id_number=id_number) }}"><img src="../static/images/readmore-icon.svg" alt=""></a></td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>

                    <div class="noneResult">
                        <h1>กรุณาค้นหาข้อมูล</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $('.menu div').each(function (e) {
            if (e == 0) {
                $(this).addClass("active");
            }
        });
        var checkListNull = $(".userList > table > tbody > tr").html() == null;
        if (checkListNull) {
            $(".noneResult").css({ "display": "block" });
        } else {
            $(".noneResult").css({ "display": "none" });
        }

        
    </script>
</body>

<script src="../static/js/script_index.js"></script>

</html>