{% include 'header.html' %}


    <div id="homepage">
        <div class="page container" page="index">
            <div class="row">
                <div class="col">
                    <div class="searchBox">
                        <div class="searchText">
                            ค้นหาผู้ใช้
                        </div>
                        <div class="searchInput">
                            <form action="{{ url_for('searchForDonor') }}" method="post">
                                <input placeholder="ex. เลขประจำตัว 13 หลัก" name="required_id_number" maxlength="13"/>
                                <button type="submit"><img src="../static/images/search-icon.svg" /></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="userList">
                    <table class="table">
                        <thead>
                            <tr>
                                <!-- <th scope="col">ID</th> -->
                                <th scope="col">ชื่อ - สกุล</th>
                                <th scope="col">กรุ๊ปเลือด</th>
                                <th scope="col">เลขบัตรประชาชน</th>
                                <th scope="col">เบอร์โทร</th>
                                <th scope="col">E-Mail</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if result_search is not none %}
                                <tr>
                                    <!-- <th scope="row">XXXX ID</th> -->
                                    <td>{{ result_search['firstname'][0] }} {{ result_search['lastname'][0] }}</td>
                                    <td>{{ result_search['bloodtype'][0] }}</td>
                                    <td>{{ id_number }}</td>
                                    <td>{{ result_search['tel'][0] }}</td>
                                    <td>{{ result_search['email'][0] }}</td>
                                    <td><a href="{{ url_for('donorProfilePage', id_number=id_number) }}"><img src="../static/images/readmore-icon.svg" alt=""></a></td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>

                    <div class="noneResult">
                        <h1>กรุณาค้นหาข้อมูล</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $('.menu div').each(function (e) {
            if (e == 0) {
                $(this).addClass("active");
            }
        });
        var checkListNull = $(".userList > table > tbody > tr").html() == null;
        if (checkListNull) {
            $(".noneResult").css({ "display": "block" });
        } else {
            $(".noneResult").css({ "display": "none" });
        }

        
    </script>
</body>

<script src="../static/js/script_index.js"></script>

</html>