<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

</head>

<body>
    <form action="/login" method="POST">
        <div class="container">
            <div class="login">
                <div>
                    <div class="row">
                        <div class="logo logoLogin">
                            <div class="logoImg">
                                <img src="../static/images/logo-icon.svg" alt="">
                            </div>
                            <div class="logoText logoLoginText">
                                BLOOD DONOR
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="inputSignup">
                                <div>
                                    <span>Username</span>
                                </div>
                                <div>
                                    <input required type="text" placeholder="Username" name="username">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="inputSignup">
                                <div>
                                    <span>Password</span>
                                </div>
                                <div>
                                    <input required type="password" placeholder="Password" name="password">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <button class="activeButton loginButton">
                                <span>เข้าสู่ระบบ</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>

</html>