{% include 'header.html' %}

    <div class="container">
        <div class="row">
            <div class="profile">
                
                <div class="title">
                    <h1>ข้อมูลผู้บริจาคโลหิต</h1>
                </div>

                <div class="send_questionnaire">
                    <div class="activeButton nextStep">
                            ส่งแบบสอบถาม
                    </div>
                </div>


                <div class="row">
                    <div class="col-5">
                        <div class="subtitle">
                            <h3>ข้อมูลพื้นฐาน</h3>
                        </div>
<!--                         <table class="profileTable">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Username</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        XXXXX
                                    </td>
                                    <td>
                                        No username
                                    </td>
                                </tr>
                            </tbody>
                        </table> -->

                        <table class="profileTable">
                            <thead>
                                <tr>
                                    <th>ชื่อ - สกุล</th>
                                    <th>กรุ๊ปเลือด</th>
                                    <th>เลขบัตรประชาชน</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        {{ personal_infor['firstname'][0] }} {{ personal_infor['lastname'][0] }}
                                    </td>
                                    <td>
                                        {{ personal_infor['bloodtype'][0] }}
                                    </td>
                                    <td>
                                        {{ id_number }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="col-5">
                        <div class="subtitle">
                            <h3>ข้อมูลติดต่อ</h3>
                        </div>
                        <table class="profileTable">
                            <thead>
                                <tr>
                                    <th>E-mail</th>
                                    <th>เบอร์โทร</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        {{ personal_infor['email'][0] }}
                                    </td>
                                    <td>
                                        {{ personal_infor['tel'][0] }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>


                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="subtitle">
                            <div>
                                <h3>ประวัติบริจาคโลหิต</h3>
                            </div>
                            <div><button class="addProfile popupButton"><img src="../static/images/add-record.svg" alt=""></button></div>
                        </div>
                        <table class="recordTable">
                            <thead>
                                <tr>
                                    <th>ครั้งที่</th>
                                    <th>วันที่</th>
                                    <th>สถานที่บริจาค</th>
                                    <th>ผู้เก็บ</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if records is not none %}
                                    {% for record in records %}
                                        <tr>
                                            <td>
                                                {{ records[record]['ordinal'] }}
                                            </td>
                                            <td>
                                                {{ records[record]['date'] }}
                                            </td>
                                            <td>
                                                {{ records[record]['hospital'] }}
                                            </td>
                                            <td>
                                                {{ records[record]['checker'] }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="display:flex; justify-content: center;">
        <div class="addProfilePopup">
            <form action="{{ url_for('recordBloodDonation', id_number=id_number) }}" method="post">
                <div class="subtitle" style="margin-bottom:15px;">
                    <h3>ยืนยันการเข้ารับการบริจาคโลหิต</h3>
                </div>
                <div class="inputSignup">
                    <div>
                        <input required step="1" type="text" placeholder="ex. ลงชื่อผู้เก็บ" name="checker">
                    </div>
                </div>
                <div class="buttonSignup" style="text-align:center;">
                    <button class="activeButton saveForm closeOverlay" style="margin:auto;" type="submit">ยืนยันการลงทะเบียน</button>
                </div>
            </form>
        </div>
    </div>
    
    <div class="overlay">
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    
   

</body>

</html>