{% include 'header.html' %}

<div class="container pages" page="confirmation">
    <div class="title" style="margin-bottom:0px;">
        <h1>ตรวจสอบคุณสมบัติ</h1>
    </div>

    <div class="request_information_container">
        <div class="row">
            <div class="userList">
                <table class="table">
                    <thead>
                        <tr>
                            <!-- <th scope="col">ID</th> -->
                            <th scope="col">ชื่อ - สกุล</th>
                            <th scope="col">กรุ๊ปเลือด</th>
                            <th scope="col">เลขบัตรประชาชน</th>
                            <th scope="col">เบอร์โทร</th>
                            <th scope="col">E-Mail</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <!-- <th scope="row">XXXX ID</th> -->
                            <td>Pongpanot Na Ubon</td>
                            <td>A</td>
                            <td>9999999999999</td>
                            <td>0837229298</td>
                            <td>javascript5@hotmail.com</td>
                            <td><a href="/donorProfile/9999999999999"><img src="../static/images/readmore-icon.svg" alt=""></a></td>
                        </tr>
                        <tr>
                            <!-- <th scope="row">XXXX ID</th> -->
                            <td>Pongpanot Na Ubon</td>
                            <td>A</td>
                            <td>9999999999999</td>
                            <td>0837229298</td>
                            <td>javascript5@hotmail.com</td>
                            <td><a href="/donorProfile/9999999999999"><img src="../static/images/readmore-icon.svg" alt=""></a></td>
                        </tr>
                        <tr>
                            <!-- <th scope="row">XXXX ID</th> -->
                            <td>Pongpanot Na Ubon</td>
                            <td>A</td>
                            <td>9999999999999</td>
                            <td>0837229298</td>
                            <td>javascript5@hotmail.com</td>
                            <td><a href="/donorProfile/9999999999999"><img src="../static/images/readmore-icon.svg" alt=""></a></td>
                        </tr>

                    </tbody>
                </table>

                <div class="noneResult" style="display: none;">
                    <h1>กรุณาค้นหาข้อมูล</h1>
                </div>
            </div>
        </div>
    </div>
</div>


</body>

<script src="../static/js/script_confirmation.js"></script>

</html>