{% include 'header.html' %}

    <div class="container pages" page="signup">
        <div class="signupWrapper">
            <form id="register" action="/register" method="POST">
                <div class="title">
                    <h1>ลงทะเบียนผู้บริจาคโลหิต</h1>
                </div>
                <div class="step1">
                    <div class="row">
                        <div class="col-5">
                            <div class="inputSignup">
                                <div>
                                    <span>ชื่อ<b>*</b></span>
                                </div>
                                <div>
                                    <input required step="1" type="text" placeholder="ex. บุญมี" name='firstname'>
                                </div>
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="inputSignup">
                                <div>
                                    <span>นามสกุล<b>*</b></span>
                                </div>
                                <div>
                                    <input required step="1" type="text" placeholder="ex. มีบุญเยอะ" name='lastname'>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <div class="inputSignup">
                                <div>
                                    <span>เพศ<b>*</b></span>
                                </div>
                                <div>
                                    <select name="gender">
                                        <option value="male">ชาย</option>
                                        <option value="female">หญิง</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="inputSignup">
                                <div>
                                    <span>เลขประจําตัวประชาชน<b>*</b></span>
                                </div>
                                <div>
                                    <input required step='1' class='idcard' type="text" placeholder="เลขประจำตัว 13 หลัก" name="idcard" maxlength="13">
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="inputSignup">
                                <div>
                                    <span>กรุ๊ปเลือด<b>*</b></span>
                                </div>
                                <div>
                                    <select name="bloodtype">
                                        <option value="A">A</option>
                                        <option value="B">B</option>
                                        <option value="AB">AB</option>
                                        <option value="O">O</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <div class="inputSignup">
                                <div>
                                    <span>วันเกิด<b>*</b></span>
                                </div>
                                <div>
                                    <input required step='1' type="date" name='dob'>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="inputSignup">
                                <div>
                                    <span>น้ำหนัก</span>
                                </div>
                                <div class="weightAfter">
                                    <input type="number" placeholder="ex. 50" name='weight'>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="inputSignup">
                                <div>
                                    <span>ส่วนสูง</span>
                                </div>
                                <div class="heightAfter">
                                    <input type="number" placeholder="ex. 165" name='height'>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <div class="inputSignup">
                                <div>
                                    <span>โรคประจำตัว</span>
                                </div>
                                <div>
                                    <input type="text" placeholder="ex. โรคหอบหืด,โรคเบาหวาน" name='disease'>
                                </div>
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="inputSignup">
                                <div>
                                    <span>เบอร์โทร</span>
                                </div>
                                <div>
                                    <input type="text" placeholder="ex. 0811234567" name='tel'>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <div class="inputSignup">
                                <div>
                                    <span>E-Mail</span>
                                </div>
                                <div>
                                    <input type="email" placeholder="ex. blooddonor@record.com" name="email">
                                </div>
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="inputSignup">
                                <div>
                                    <span>ที่อยู่</span>
                                </div>
                                <div>
                                    <textarea name="address"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="buttonSignup">
                        <div class="noneActiveButton">ยกเลิก</div>
                        <div class="activeButton nextStep">ขั้นตอนถัดไป</div>
                    </div>
                </div>

                <div class="step2">
                    <div class="row">
                        <div class="col-5">
                            <div class="inputSignup">
                                <div>
                                    <span>รหัสผ่าน</span>
                                </div>
                                <div>
                                    <input required step="2" class="password" type="password" placeholder="รหัสผ่าน 6-8 ตัวอักษร" name="password">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <div class="inputSignup">
                                <div>
                                    <span>ยืนยันรหัสผ่าน</span>
                                </div>
                                <div>
                                    <input required step="2" class="password_again" type="password" placeholder="ยืนยันรหัสผ่าน">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="buttonSignup">
                        <div class="noneActiveButton backStep">ย้อนกลับ</div>
                        <button class="activeButton saveForm">ยืนยันการลงทะเบียน</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="loading">
       <div>
        <svg version="1.2" xmlns="http://www.w3.org/2000/svg"
        viewport="0 0 60 60" xmlns:xlink="http://www.w3.org/1999/xlink">
    
        <path id="pulsar" stroke="rgba(255, 0, 0, 0.8)" fill="none" stroke-width="1"stroke-linejoin="round" d="M0,90L250,90Q257,60 262,87T267,95 270,88 273,92t6,35 7,-60T290,127 297,107s2,-11 10,-10 1,1 8,-10T319,95c6,4 8,-6 10,-17s2,10 9,11h210" /> 
         
    </svg>
       </div>
    </div>

</body>

<script src="../static/js/script_signup.js"></script>

</html>